// color
$color-pink: #ff385c;
$color-black: #000000;
$color-black-gary: #1e1e1e;
$color-dark-gray: #717171;
$color-gray: #b0b0b0;
$color-light-gray: #ebebeb;
$color-blue: red;
$color-white: #ffffff;
$color-white-transparent: rgba(255, 255, 255, 0.5);
$color-black-transparent: rgba(0, 0, 0, 0.5);

// box shadow
$shadow-big: 0 8px 28px rgba(0, 0, 0, 0.28);
$shadow-button: 0 4px 20px rgba(0, 0, 0, 0.1);
$shadow-hover: 0 2px 4px rgba(0, 0, 0, 0.18);
$shadow-small: 0 2px 8px rgba(0, 0, 0, 0.08);

// Space
$space-micro: 0.35em;
$space-small: 0.5em;
$space-middle: 0.7em;
$space-default: 1em;
$space-large: 1.4em;
$space-xlarge: 2em;

// font size
$font-micro: 0.35em;
$font-small: 0.7em;
$font-middle: 1em;
$font-large: 1.4em;
$font-xlarge: 2em;

//border
$border: 1px solid #dddddd;

// border radius
$border-radius-box: 30px;
$border-radius-circle: 50%;

// transition
$transition: 0.3s ease;

// Screen Size
$laptop: 1512px;
$tablet: 1024px;
$tablet-s: 768px;
$mobile: 430px;

// mixin
@mixin wrapper {
  width: 100%;
  padding: 0 4%;
  height: auto;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
