@use "common" as c;

#footer {
  @include c.wrapper;

  background-color: c.$color-white;
  color: c.$color-dark-gray;
  position: fixed;
  bottom: 0;
  border-top: c.$border;

  .info {
    display: flex;
    justify-content: space-between;
    border-bottom: c.$border;
    padding: c.$space-middle 0;
    .info_list {
      display: flex;
      .info_item {
        margin-right: c.$space-middle;
      }
    }
    .footer_btns > .footer_btn {
      margin-left: c.$space-middle;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .info_description {
    font-size: c.$font-small;
    margin: c.$space-small 0;
  }
  .mobile-menu {
    display: none;
  }
}
// Mobile

@media screen and (max-width: c.$tablet) {
  #footer {
    font-size: 12px;
  }
}
@media screen and (max-width: c.$tablet-s) {
  #footer {
    font-size: 14px;
    .info_list {
      width: 50%;
      margin: 0;
      flex-wrap: wrap;
    }
    .footer_btns {
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and (max-width: c.$mobile) {
  #footer .info,
  #footer .info_description {
    display: none;
  }

  #footer {
    height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 14px;

    .mobile-menu {
      display: flex;
      gap: c.$space-large;
      .mobile_btns {
        align-items: center;
        display: flex;
        flex-direction: column;
        color: c.$color-dark-gray;
        i {
          font-size: 24px;
          margin-bottom: c.$space-micro;
        }
        span {
          font-size: c.$font-small;
        }
      }
    }
  }
}
